.nav-button button {
    min-width: 150px;
    min-height: 60px;
    border: solid 2px #9B8D6E;
    border-radius: 3px;
    color: #9B8D6E;
    cursor: pointer;
}

.nav-button button:hover {
    color: red;
    border: solid 2px;
}