.sidemenu-button button {
    min-width: 200px;
    min-height: 60px;
    color: #9B8D6E;
    cursor: pointer;
    border: 0px;
}

.sidemenu-button button:hover {
    color: red;
    border: 1px solid;
}