* {
    color: #9B8D6E;
}

.dashboard {
    display: flex;
    color: #9B8D6E;
    justify-content: space-evenly;
    margin-left: 410px;
    margin-top: -90px;
    width: 100%;
    padding: 10px;
}

.dashboardfield {
    display: flex;
    color: #9B8D6E;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.labelDate input {
    margin-left: 4px;
    color: #9B8D6E;
}

.labelRegister {
    margin-left: 8px;
}

.labelRegister input {
    margin-left: 8px;
}

.registerButton {
    margin-left: 80%;
}