.menu-container {
    position: relative;
}

.menu {
    background: #ffffff;
    border-radius: 8px;
    /*position: absolute;*/
    /*top: 60px;*/
    right: 0;
    width: 200px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu ul {
    list-style: none;
    padding: 0;
    border: 1px solid #9B8D6E;
}

.menu li {
    border-bottom: 1px solid #dddddd;
}

.menu li a {
    text-decoration: none;
    color: #9B8D6E;
    padding: 15px 20px;
    display: block;
}

.menu li a:hover {
    color: red;
}

.menu-trigger {
    background: #ffffff;
    width: 150px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    transition: box-shadow 0.4s ease;
}

.menu-trigger:hover {
    border: 1px solid #9B8D6E;
}

.menu-trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
    color: #9B8D6E;
}

.menu-trigger img {
    border-radius: 90px;
}