p {
    color: #9B8D6E;
    font-size: 30px;
    padding: 6px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid #9B8D6E;
    padding: 7px;
}

.header-sidemenu {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    margin-left: -60px;
    margin-top: -85px;
}

.sidemenu {
    background-image: url("../../assets/Headerbackgroundvertical.jpg");
    background-size: 300px 1500px;
    background-repeat: no-repeat;

}
.sidemenu li {
    padding: 16px;
    margin-left: -40px;
    margin-top: -20px;
    list-style: none;
}

.nav-text {
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    font-size: 18px;
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    color: #9B8D6E;
}

.nav-text :hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}