p {
    color: #9B8D6E;
    font-size: 30px;
    padding: 6px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header-sidemenu {
    display: flex;
    width: 200px;
    heigth: 100vh;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    margin-left: 20px;
    margin-top: -90px;
}

.sidemenu {
    display: flex;
    color: #9B8D6E;
    width: 200px;
    font-size: 25px;
    margin-top: -20px;
}

.sidemenu li {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-left: -40px;
}

.sidemenu li span {
    margin-right: 50px;
}

.nav-menu-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 60px;
    cursor: pointer;
    border: 0px;
}

.nav-menu-items :hover {
    color: red;
    border: 1px solid;
}

