.registerBox {
    display: flex;
    flex-direction: column;
    color: #9B8D6E;
    height: 600px;
    width: 900px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    background: white;
    padding: 16px;
    opacity: 0.9;
}

.logInAndRegister {
    margin-bottom: 20px;
    margin-left: 10px;
}

.labelRegister {
margin-left: 10px;
}


.inputFieldRegister::placeholder {
    color: #9B8D6E;
}

.buttonRegisterPage {
    margin: 16px;
    margin-right: 26px;
}

.errorMessage {
    color: red;
    font-size: 13px;
}

