* {
    padding: 0px;
    margin: 0px;
}

.register-container {
    background-image: url("./assets/backgroundlogin.jpg");
    background-size: cover;
    min-height: 1080px;
}

.login-container {
    background-image: url("./assets/backgroundlogin.jpg");
    background-size: cover;
    min-height: 1080px;

}

.homescreen {
    background-image: url("./assets/backgroundlogin.jpg");
    background-size: cover;
    min-height: 1080px;
    min-width: 1920px;
}